@model IEnumerable<PerpetualShred.Models.WebVid>

@foreach (var shredVid in Model) {
<div class="vidTextContainer">
    <div class="vidTitleContainer">
        <div class="vidTitle">@shredVid.Title</div>
        <div class="vidSynopsis">@shredVid.Synopsis</div>
        <div class="vidReleaseDate">@shredVid.ReleaseDate</div>
        <div class="vidOrigin"><a href="@shredVid.OriginUrl">@shredVid.VideoService</a></div>
    </div>
</div> }