@{
    Layout = null;
}

@model PerpetualShred.Models.WebVid
@using Newtonsoft;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>ReactPlayerTest</title>
    <link rel="stylesheet" href="~/css/ReactPlayerTest.css" type="text/css" />
    <link href="~/css/hamburgers.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var jsModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    </script>
    <script src="https://unpkg.com/screenfull"></script>
</head>
<body>
    <div class="video-background">
        <div id="shredplayer">
        </div>
    </div>
    <div id="shredsidebar">     
    </div>
    @*    <div id="sidebar">
            <h1>@Html.DisplayFor(model => model.Title)</h1>
            <p>
                @Html.DisplayFor(model => model.Synopsis)
                @if (Model.VideoService == "PinkBike")
                {
                    <a href="@Html.DisplayFor(model => model.OriginUrl)" class="btn">more info at Pinkbike.com</a>
                }

                @if (Model.VideoService == "YouTube")
                {
                    <a href="@Html.DisplayFor(model => model.OriginUrl)" class="btn">more info at YouTube.com</a>
                }

                @if (Model.VideoService == "Vimeo")
                {
                    <a href="@Html.DisplayFor(model => model.OriginUrl)" class="btn">more info at Vimeo.com</a>
                }

                @if (Model.VideoService == "PinkBike")
                {
                    <button id="playpause" onclick="">Play/Pause</button>
                }

        </div> *@
</body>
</html>
<footer>
    <script src="~/js/main.build.js"></script>
</footer>