@model PerpetualShred.Models.WebVid

<div>
    <h4>Random Video Returned</h4>
    <p>Here's The data. Figure out how to embed the vid from the db.</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerUrl)
        </dt>
        <dd>
            <iframe width="560" height="315" src="@Html.DisplayFor(model => model.PlayerUrl)" frameborder="0" allowfullscreen></iframe>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OriginUrl)
        </dt>
        <dd>
            <a href="@Html.DisplayFor(model => model.OriginUrl)">See original post</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
    </dl>
</div>
